* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bg-url: url(/public/bg.png);
}



body {
  background: var(--bg-url) no-repeat top center/cover;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  width: 360px;
  flex-direction: column;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: #F6F6F6;
  border-radius: 50%;
  margin-top: 110px;
}

.profile img {
  width: 220px;
}

.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}


.CxName{
  text-align: center;
  color: #013383;
  
}

.txtalternativo{
  color: black;
  margin-top: 15px;
  width: 200px;

}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;

  border-radius: 50px;
  background: #013383;
  font-weight: 500;
  line-height: 24px;
  color: #ffff;
  text-decoration: none;

  transition: background 0.2s;
}

ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

.socialLinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  font-size: 24px;
  gap: 15px;

}

.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #013383;
}

.IconsSocialLinks{
  stroke: white;
  stroke-width: 1.5;
}


footer {
  text-align: center;
  font-size: 14px;
  padding: 24px 0;
}
